@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 50px;
}

.no_right_padding {
  padding-right: 0 !important;
}

.no_left_padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom : 1rem;
}

.mr-1 {
  margin-right: 2 !important;
}

.logout-button { 
  margin-right: 10px;
}